:root{
    --color-primary: #FA2C2C;
    --color-secondary: #231F20;
    --fsb-list-background: #231F20;
    --fsb-hover-background: #FFF;
    --fsb-list-color: #fff;
    --fsb-list-border: 0;
    --fsb-hover-color: #231F20;
    --fsb-shadow: none;
    --fsb-radius: 0;
    --fsb-list-radius: 0;
    --fsb-padding: 12px;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
    font-size: 1rem;

    /*-moz-user-select: none;*/
    /*-webkit-user-select: none;*/
    /*-ms-user-select: none;*/
}
* {outline: 0;}
.form-select:focus,
.form-control:focus {box-shadow: none;}
a {
    color: #707070;
    text-decoration: none;
}
.bg-black {
    background-color: var(--color-secondary) !important;
}
.text-black {
    color: var(--color-secondary) !important;
}

.topbar {
    color: #231F20;
    border-bottom: 1px solid #CDCDCD;
}
.topbar a {
    color: #231F20;
}
.topbar a:hover {
    color: var(--color-primary);
}
.btn-signin {
    background-color: #FFF;;
}
.mini-search .form-control,
.mini-search .btn,
.mini-search .form-select {
    height: 40px;
}
.mini-search .form-select option {
    padding: 5px;
    background-color: var(--color-secondary);
    color: #FFF;
}
.mini-search .form-select option:hover,
.mini-search .form-select option:focus,
.mini-search .form-select option:checked {
    background-color: #FFF;
    color: #000;
}
.mini-search select::after {
    content: '\f107';
    font-family: "Font Awesome 6 Free";
}
.mini-search .btn {
    width: 52px;
    border: 0 !important;
}
.cart-icon {
    background-color: #F0F0F0;
    width: 50px;
    height: 50px;
}
.cart-item {
    background-color: var(--color-primary);
    color: #FFF;
    width: 20px;
    height: 20px;
    right: 0px;
    font-size: 12px;
}
.header-bottom {
    border-top: 1px solid #C0C0C0;
    /*border-bottom: 1px solid #C0C0C0;*/
}

.allcategory {
    position: relative;
}
.allcategory .dropdown-toggle::after {
    display: none;
}
.allcategory .dropdown-menu {
    border-radius: 0;
    border: 0;
    padding: 0;
    width: 100%;
}
.allcategory .dropdown-menu li {
    position: relative;
    border-bottom: 1px solid #D0D0D0;
}
.allcategory .dropdown-menu li:last-child {
    border: 0;
}
.allcategory .dropdown-menu li .icon {
    border-right: 1px solid #D0D0D0;
    margin-right: 15px;
    padding: 12px 15px 12px 5px;
    display: inline-block;
    margin-top: -10px;
    margin-bottom: -10px;
    width: 45px;
    text-align: center;
}
.allcategory .dropdown-menu .dropdown-item {
    padding: 10px;
}
.allcategory .dropdown-menu .dropdown-item .fa-solid {
    margin-top: 5px;
}
.allcategory .dropdown-item:active,
.allcategory .dropdown-item:focus,
.allcategory .dropdown-item:hover {
    background-color: var(--color-secondary);
    color: #FFF;
}
.allcategory .dropdown-item:active svg path,
.allcategory .dropdown-item:focus svg path,
.allcategory .dropdown-item:hover svg path,
.allcategory .dropdown-item:hover svg path {
    fill: #FFF;
    stroke: #FFFFFF;
}

.allcategory .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}
.allcategory .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}
.allcategory .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}


.navbar-primary .navbar-nav .nav-link {
    font-weight: 500;
    padding: 10px 15px;
}
.navbar-primary .navbar-nav .nav-link:hover,
.navbar-primary .navbar-nav .nav-link.active {
    color: var(--color-primary);
}
.navbar-primary .navbar-toggler:focus {box-shadow: none;}
.navbar-primary .btn-close {
    background-color: #FFF;
    border-radius: 0;
    position: absolute;
    right: 10px;
    top: 10px;
}
@media (min-width:1200px) and (max-width:1400px) {
    .navbar-primary .navbar-nav .nav-link {
        padding: 10px 12px;
        font-size: 14px;
    }

}
@media (max-width:1199px) {
    .navbar-primary .navbar-nav .nav-link {color: #FFF;}
    .navbar-primary .navbar-nav .nav-link:hover {
        color: var(--color-primary);
    }
}
.help-center a {
    color: var(--color-primary);
}
.banner {
    background-color: #EFEFEF;
}
.banner .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}
.banner .swiper-pagination-clickable .swiper-pagination-bullet {
    width: 30px;
    height: 4px;
    border-radius: 0;
    background-color: #D9D9D9;
    opacity: 1;
}
.banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--color-secondary);
}
.main-container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.popular-category h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
.popular-category h5,
.popular-category h5 a {
    font-size: 16px;
    color: #3E3E3E;
}
.trend-collection h3,
.trend-collection h3 a {
    font-size: 22px;
    font-weight: 500;
    color: #2E2E2E;
}
.trend-collection h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
.trend-collection .swiper-btn .fa-solid {
    margin-left: 15px;
    font-size: 20px;
}
.btn-shop {
    border: 1px solid #DEDEDE;
    border-radius: 0;
    padding: 10px;
}
.btn-shop:hover {
    background-color: var(--color-secondary);
    color: #FFF;
}

.trend-collection .swiper-button-next,
.trend-collection .swiper-button-prev {
    color: var(--color-secondary);
}
.weekly-deals h2 {
    font-family: 'Satisfy', cursive;
    color: #212121;
    font-size: 40px;
    margin: 0;
}
.weekly-deals h3 {
    font-family: 'Satisfy', cursive;
    color: #212121;
    font-size: 36px;
    margin: 0;
}
.weekly-deals h4 {
    font-family: 'Satisfy', cursive;
    color: #212121;
    font-size: 17px;
    margin: 0;
}
.weekly-deals .btn-shop {
    background-color: #FFF;
    padding: 10px 30px;
}
.weekly-deals .btn-shop:hover {
    background-color: var(--color-secondary);
}

.products .rating {
    color: var(--color-secondary);
    font-size: 12px;
}
.products .category {
    color: #878787;
    font-size: 12px;
}

.products .product-title a {
    color: #2E2E2E;
    font-size: 15px;
    font-weight: 600;
}
.products .price {
    color: #8C8C8C;
    font-size: 18px;
}
.btn-wishlist {display: none; transition: all 1s;}
.btn-compare {display: none; transition: all 1s;}
.product-grid:hover .btn-wishlist, .product-grid:hover .btn-compare{
    display: block;
    color: #000000;
}
.btn-wishlist{
    bottom: 50%;
    right: 17px;
    background-color: #ffffff;
    padding: 7px 10px;
}
.btn-compare{
    bottom: 41%;
    right: 17px;
    background-color: #ffffff;
    padding: 7px 10px;
}
.btn-compare-text{
    bottom: 20%;
    right: 0px;
    background-color: #000000;
    padding: 1px 5px;
    margin-right: 43px;
    font-size: 12px;
    border-radius: 5px;
    color: #ffffff;
}

.btn-compare-text {display: none; transition: all 1s;}
.btn-compare:hover .btn-compare-text{
    display: block !important;
}

.btn-wishlist-text{
    bottom: 22%;
    right: 0px;
    background-color: #000000;
    padding: 1px 5px;
    margin-right: 43px;
    font-size: 12px;
    border-radius: 5px;
    color: #ffffff;
}
.btn-wishlist-text {display: none; transition: all 1s;}
.btn-wishlist:hover .btn-wishlist-text{
    display: block !important;
}

.btn-compare:hover,.btn-wishlist:hover{
    background-color: #000000;
    color:#ffffff !important;
}

.btn-cart {
    background-color: #ECECEC;
    color: #454545;
}
.btn-cart:hover {
    background-color: var(--color-secondary);
    color: #FFF;
}

.featured-products h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.pagination a {
    color: #000;
}
.pagination a:hover,
.pagination a.active {
    background-color: #000;
    color: #FFF;
}

.footer {
    background-color: #231F20;
    color: #FFF;
}
.footer a {
    color: #FFF;
}
.footer h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
.footer .nav-link {
    margin-bottom: 10px;
}
.footer .nav-link:hover {
    color: var(--color-primary);
}
.social a {
    color: #FFF;
    font-size: 20px;
    padding: 0 8px;
}
.social a:hover {
    color: var(--color-primary);
}

.alert {
    background-color: #FF4B4B !important;
}

.sing-up {
    max-width: 390px;
}
.sing-up .form-control {
    min-height: 45px;
}
.sing-in {
    padding-top: 100px;
    padding-bottom: 100px;
}
.btn-sign {
    height: 45px;
}
.cart-table {
    background-color: #FFF;
    border: 1px solid #DEDEDE;
}
.cart-table thead {
    border-bottom: 1px solid #DEDEDE;
}
.cart-table th,
.cart-table td {
    padding: 20px 10px;
    border-right: 1px solid #DEDEDE;
}
.cart-table td {
    border-top: 1px solid #DEDEDE;
}
.cart-table .product-remove,
.cart-table .product-remove a {
    font-size: 20px;
    color: #E31F1F;
}
.quantity .input-group {
    width: auto;
}
.quantity .input-group .form-control {
    flex: none;
    width: 48px;
    text-align: center;
    height: 48px;
}
.quantity .input-group .btn {
    height: 100%;
    border-radius: 0;
    background-color: #F4F4F4;
    color: #6B6B6B;
    border: 1px solid #DEDEDE;
    width: 48px;
}
.coupon .form-control {
    height: 50px;
}
@media (max-width:991px) {
    .cart-table thead {
        display: none;
    }
    .cart-table tr td, .cart-table tr td {
        display: block;
        /*text-align: right!important;*/
    }

    .header-bottom{
        height: 60px;
    }
    .allcategory{
        height: 60px !important;
    }
    .text-md-start{
        padding-top:15px;
        padding-bottom:15px;
    }
    .btn-cat-show{
        display:none;
    }

    .mobile-css{
        display:none !important;
    }
    .fot-about{
        display:block !important;
    }
    .copy-fot{
        text-align: center;
    }
    .fot-sepp{
        /*display:block !important;*/
        margin-top: 20px;
    }
    .mob-text-center{
        text-align: center !important;
    }

}
@media (max-width: 767px) {
    .title-shadow {
        font-size: 6rem;
    }
    .btn-cat-show{
        display:none;
    }
    .weekly-footer{
        text-align: center !important;
    }
    .weekly-newsletter-foot{
        width:100% !important;
    }

    .mobile-css {
        display:none !important;
    }
    .fot-about{
        display:block !important;
    }
    .copy-fot{
        text-align: center;
    }
    .fot-sepp{
        /*display:block !important;*/
        margin-top: 20px;
    }


    .left-bor{
        display:none !important;
    }
    .no-pd{
        padding: unset !important;
    }
    .no-mg{
        margin: unset !important;
    }
    .top-bar-height a{
        margin-right: 3px !important;
    }
    .top-bar-height{
        border-top: 1px solid #CDCDCD;
    }
    .sear-pd{
        padding-left: 10px !important;
    }
    .navbar-toggler-icon{
        width: 20px !important;
        height: 20px !important;
    }
    .btn-close{
        /*display:none !important;*/
        margin-top: 7px !important;
    }
    .navbar-toggler{
        margin-top: 7px !important;
    }
    .mo-text-center{
        text-align: center !important;
    }
    .mo-m-r-0{
        margin-right: 0px !important;
    }
    .mo-p-r-0{
        padding-right: 0px !important;
    }
    .f-title{
        margin-top:25px;
    }
    .nav-tabs .nav-link{
        font-size: 13px;
    }
    .owl-theme .owl-nav{
        margin-top: 20px !important;
    }
    .owl-nav button{
        font-size:30px !important;
    }
    .brand-item{
        text-align: center;
        margin-bottom:20px;
    }
    .cat-pro-mob{
        text-align: center !important;
    }
    .both-pro-mob img{
        width:auto !important;
    }
    .product-price{
        width:100%;
    }
    .product-quantity{
        width:100%;
    }
    .mo-amount{
        width:100% !important;
    }

}
@media (max-width: 480px) {
    .title-shadow {
        font-size: 4.5rem;
    }
    .btn-cat-show{
        display:none;
    }
    .mobile-css {
        display:none !important;
    }
    .fot-about{
        display:block !important;
    }
    .copy-fot{
        text-align: center;
    }
    .fot-sepp{
        /*display:block !important;*/
        margin-top: 20px;
    }
}

.btn.btn-checkout {
    font-size: 18px;
    width: 230px;
    line-height: 50px;
    margin-top: 10px;
}
.title-shadow {
    color: #F3F3F3;
    font-size: 9.5rem;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
}

.title-text {
    position: absolute;
    top: 45%;
    left: 10px;
    text-transform: uppercase;
}
.text-center .title-text {
    left: 48%;
}
.history {
    padding: 65px 0;
    color: #6A6A6A;
}
.vision {
    padding: 65px 0;
    color: #6A6A6A;
}
.team {
    padding-top: 10px;
    padding-bottom: 90px;
}
.team-title {
    font-size: 20px;
    color: var(--color-secondary);
    font-weight: 500;
}
.team-subtitle {
    font-size: 14px;
    color: var(--color-secondary);
    text-transform: uppercase;
}


.contact-form .form-control {
    min-height: 45px;
}
.contact-form .btn {
    font-size: 20px;
    font-weight: 600;
    width: 188px;
    height: 52px;
}


.product-image {
    width: 100%;
    max-width: 620px;
    overflow: hidden;
    position: relative;
}
.gallery-slider {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}
.gallery-slider .swiper-slide {
    width: auto;
    height: 400px;
}
.gallery-slider .swiper-slide img {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.gallery-thumbs {
    width: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
}
.gallery-thumbs .swiper-slide {
    width: 100px;
    height: 100px;
    text-align: center;
    overflow: hidden;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}
.gallery-thumbs .swiper-slide img {
    width: auto;
    height: 100%;
}
.gallery-thumbs .swiper-button-next::after,
.gallery-thumbs .swiper-button-prev::after {content: '';}
.gallery-thumbs .fa-solid {
    font-size: 20px;
    color: var(--color-secondary);
    background-color: #FFF;
    width: 25px;
    text-align: center;
    line-height: 35px;
}
.gallery-thumbs .fa-solid:hover {
    background-color: var(--color-secondary);
    color: #FFFFFF;
}

.product-filter {
    border-bottom: 1px dashed #D4D4D4;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.product-filter a {
    color: #2E2E2E;
}
.product-filter .count {
    background-color: #EEEEEE;
    color: #7B7B7B;
    padding: 2px 5px;
    border-radius: 5px;
}


.filter-items li {
    display: inline-block;
}
.filter-items a {
    background-color: #DDDDDD;
    color: #262626;
    font-size: 14px;
    padding: 15px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
}
.filter-items .btn-op {
    background-color: #DDDDDD;
    color: #262626;
    font-size: 14px;
    padding: 15px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
}
.filter-items a:hover {
    background-color: var(--color-secondary);
    color: #FFF;
}

.round{
    top: -42px;
    left: 46%;
}

/* Styles for the range slider */
.slider-range {
    position: relative;
    width: 100%;
    height: 5px;
    margin: 20px 0;
    background-color: #D9D9D9;
    border-radius: 5px;
}
.slider-range .ui-slider-handle {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 99px;
    top: -10px;
}



.product-details .product-cat {
    color: #878787;
    font-size: 12px;
}
.product-details .product-title {
    color: #2E2E2E;
    font-size: 22px;
    font-weight: 500;
}
.product-details .rating {
    font-size: 12px;
}
.product-details .brand {
    font-size: 12px;
    color: #676767;
}
.product-details .brand strong {
    font-weight: 500;
}
.product-details .price {
    color: #000000;
    font-size: 24px;
    font-weight: 600;
}
.product-details .btn-cart {
    width: 210px;
    background-color: var(--color-secondary);
    color: #FFFFFF;
    line-height: 40px;
}
.product-details .product-info {
    background-color: #F1F1F1;
    font-size: 12px;
    color: #2E2E2E;
}
.product-details .product-info strong {
    color: #515151;
}
.product-details .product-info .loc-change {
    font-weight: 500;
    color: #3DACFF;
}
.product-details .product-info hr {
    margin-left: -16px;
    margin-right: -16px;
    color: #DCDCDC;
    opacity: 1;
}
.product-details .product-info li {
    margin-bottom: 5px;
}
.product-tab .nav-tabs li {
    border: 1px solid var(--color-secondary);
}
.product-tab .nav-tabs li+li {margin-left: -1px;}
.product-tab .nav-tabs .nav-link {
    color: var(--color-secondary);
    height: 100%;
    border: 0;
    border-radius: 0;
}
.product-tab .nav-tabs .nav-link.active {
    background-color: var(--color-secondary);
    color: #FFFFFF;
}
.description h2 {
    font-size: 22px;
}
.description li {
    margin-bottom: 5px;
}
.description li::before {
    content: "\2022";
    color: #646464;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.product-review .btn {
    background-color: var(--color-secondary);
    color: #FFFFFF;
}
.related-products h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}


/*custome  */
.message_alert{
  width: 30%;
  position: fixed;
  /*left: 50px;*/
  /*top: 30%;*/
  z-index: 1000000;
  display: none;
    bottom: 22px;
    right: 10px;
}
.alert-success_web{
    background-color: #000000;
    /*border-radius: 20px;*/
}
.alert-success-m {
    background-color: green !important;
    padding: 13px;
    margin: 5px 0px 5px 0px;
    border-radius: 8px;
    color: #ffffff;
}
.width-100{
    width:100% !important;
}
.width-50{
    width:50% !important;
}
.btn-wi{
    line-height: 40px;
    min-width: 49%;
}
.icon-pd-20{
    padding:20px !important;
}
.top-bar{
    padding: 11px;
    margin-bottom: 10px;
}
.active-view{
    background-color: #000000;
    color: #ffffff;
}
.shortBy{
    padding: 5px;
}
.amount-or{
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    text-transform: capitalize;

    color: #DEDEDE;
}
.p-sty{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #505050;
    line-height: 19px;
}
.p-date{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #979797;
    line-height: 0px;
    margin-top: 25px;
}
.div-p{
    padding: 35px;
    background-color: #FFFFFF;
}
.ti-or-n{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-transform: capitalize;
    color: #2B2B2B;

}
.con-or{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #AAAAAA;
}
.con-tit{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #2B2B2B;
}
.box-order{
    padding: 20px;
}
.w-60{
    width: 60px;
    height: 60px;
}
.lab-st{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-transform: capitalize;
    color: #231F20;
}
.suc-title{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-transform: capitalize;
    color: #00A650;
}
.suc-message{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #595959;
}
.can-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-transform: capitalize;
    color: #FF725E;
}
.fale-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-transform: capitalize;
    color: #F10909;
}
/*new css*/
.product-title-hot{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #505050;
}
.price-hot{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #231F20;
}
.pro-pd-hot{
    padding: 1rem 3rem!important;
}
.pro-hot-h{
    height: 338px !important;
}
.title-hot{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.product-title-new{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #2E2E2E;
    height:60px;
}
.category-new{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #878787;
}
.price-new{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #8C8C8C;
}
.product-title-special{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #505050;
}
.price-special{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4E4E4E;
}
.cat-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #2E2E2E;
}
.bac-round{
    position:absolute;
    left: 37%;
}
.ic-pp{
    min-height: 120px;
}
.icon-in-rou{
    position: absolute;
    left: 44%;
    top: 42px;
    /*font-size:20px !important;*/
    width: 35px !important;
    height:35px !important;
}
.icon-he{
    width: 45px !important;
    height: 48px !important;
}
.cat-title-side{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #2E2E2E;
}
.cat-text-side{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #7E7E7E;
}
.icon-cat-main{
    position: absolute;
    left: 41%;
    top: 27%;
}
.icon-cat-main svg{
    width: 30px !important;
    height: 30px !important;
}
.ic-om-1{
    position:absolute;
    left: 17px;
    top: 24px;
}
.ic-om-2{
    position:absolute;
    left: 18px;
    top: 21px;
}
.ic-om-3{
    position:absolute;
    left: 17px;
    top: 16px;
}
.ic-om-4{
    position:absolute;
    left: 18px;
    top: 18px;
}
.con-to-mm{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 0px;
    margin-top:12px;
}
.con-to-mmt{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #A8A8A8;
}
.con-f{
    margin-left: 9px;
}
.news-sub{
    background: rgb(218 218 218 / 44%);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #231F20;
}
.f-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #333333;
}
.ul-link, .ul-link-2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-transform: capitalize;
    color: #939393;
}
.ul-link li{
    border-bottom: 1px solid #E8E8E8;
    margin-right: 18px;
    margin-top: 10px;
}
.ul-link-2 li{
    margin-top: 25px;
}
.f-text-add{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
    color: #939393;
    margin-left:10px;
    margin-top: 3px;
}
.f-text-add strong{
    color: #333333;
}
.copyright{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #707070;
}
.pro-s-height{
    height: 100%;
}
.title{padding: 13px 14px !important;
}
.left-arr{
    margin-right: 10px;
}
.marg-top-90{
    margin-top:50px !important;
}
.form-control:focus {
    background: rgb(218 218 218 / 44%) !important;
}
 a:hover,a.active {
    color: var(--color-primary);
}
 .text-md-start ,.text-md-start-2{
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 16px;
     text-transform: capitalize;
     color: #231F20;
 }

 .each_pro:last-child {
     padding-right: inherit !important;
 }
 .cat-drop-menu{
     height: 397px;
 }

/*.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{*/
/*    background-color: #000000 !important;*/
/*    color: #fff !important;*/
/*}*/
.nav-tabs .nav-link{
    margin-right: 10px !important;
    color: #000000 !important;
}
.top-bar-height{
    height:35px;
}
.left-bor{
    border:1px solid #dee2e6;
    height: 35px;
    margin-right: 25px;
}

.sticky-menu-class{
    position: fixed;
    z-index: 1000;
    top:0px;
    background-color: #ffffff;
    width: 100%;
    display: none;
}

.img-30{
    width: 30px !important;
}
.sear-pd{
    padding-left: 5px;
}
.all-cat-menu{
    margin-top: -2px !important;
}
.main-menu-but{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.nav-menu-main{
    width:100% !important;
}
/*.nav-menu-collapse{*/
/*    display: block;*/
/*}*/
.dropdown-item {
    padding: 10px !important;
    font-size:14px;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff !important;
    background-color: #000000 !important;
    padding: 10px !important;
}
.custom-drop{
    padding: 12px !important;
    background-color: #ffffff !important;
    inset: 0px auto auto -69px !important;
}

.card-title {
    color: #db0075;
}
.card-text {
    color: #17E6E6;
}
.list-inline-item {
    color: #ffd700
}
.price {
    color: #9B1B30;
}
.btn-pink {
    background-color: #fcb2b2 !important;
}
.icon-mt{
    margin-top: -3px;
}
.sub-btn{
    padding: 13px 25px !important;
}
.height-40{
    height: 40px !important;
}
.no-padding{
    padding:0px!important;
}
.regular-4 .slick-list{
    padding-left: unset !important;
}
.owl-theme .owl-nav [class*=owl-]:hover {
     background: unset !important;
     color: unset !important;
}

.owl-theme .owl-nav{
    position: absolute !important;;
    top: -87px;
    right: -4px;
    font-size: 38px;
}
.w-h-100{
    width:100px !important;
    height:100px !important;
}
.btn-check:checked+.btn{
    border:2px solid #000000 !important;
}
.fw-semibold{
    column-width: 305px;
}




/*new css*/
.product-details .btn-cart {
    width: 100%;
    background-color: var(--color-secondary);
    color: #FFFFFF;
    line-height: 20px;
}

.pro-w .btn-wishlist-2 {
    width: 100%;
    border: 1px solid #444444;
    line-height: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    text-transform: capitalize;
    padding:5px 1px;

    color: #444444;
}

.product-details .product-info-det {
    /*background-color: #F1F1F1;*/
    font-size: 12px;
    color: #2E2E2E;
}
.pro-abo-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #2E2E2E;
}
.pro-abo-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2E2E2E;
}
.pro-abo-text li{
    margin-top: 15px;
}
.product-title-2{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #2C2C2C;
}
.price-2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #2E2E2E;
}
.check-input{
    position: absolute;
    right: 0px;
    top: -3px;
}

.product-top input[type=checkbox]:checked{
    background-color: #000000 !important;
    border: unset;
    padding: 10px;
}
.price-rel{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.custom-tab-up .nav-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    border: unset !important;
    color: #858585 !important;
}
.custom-tab-up .nav-link.active{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #2E2E2E !important;
    border: unset !important;
    border-bottom: 2px solid #2E2E2E!important;
}
.related-products-oth{
    margin-top: 70px;
}
.product-guides-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
}
.link-product-guides{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #1BA9C8;
    margin-top: 20px;
}



img {
    max-width: 100%;
}


/*ul, li{*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    list-style-type: none;*/
/*}*/
p {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}


/*USE CSS for Slider*/

.vehicle-detail-banner .car-slider-desc {
    max-width: 180px;
    margin: 0 auto;
}
.banner-slider .slider.slider-for {
    max-width: 84%;
    padding-right: 35px;
}
.banner-slider .slider.slider-nav {
    max-width: 16%;
}
.banner-slider .slider.slider-for,
.banner-slider .slider.slider-nav {
    width: 100%;
    float: left;
}
.banner-slider .slider.slider-nav {
    /*height: 610px;*/
    overflow: hidden;

}
.slider-banner-image {
    /*height: 610px;*/
}
.banner-slider .slider.slider-nav {
    padding: 20px 0 0;
}
.slider-nav .slick-slide.thumbnail-image .thumbImg{
    max-width: 178px;
    height: 110px;
    margin: 0 auto;
    border: 1px solid #EBEBEB;
}
.slider-banner-image img,
.slider-nav .slick-slide.thumbnail-image .thumbImg img {
    height: 100%;
    width:100%;
    object-fit: cover;
}
.slick-vertical .slick-slide:active,
.slick-vertical .slick-slide:focus,
.slick-arrow:hover,
.slick-arrow:focus {
    border: 0;
    outline: 0;
}
.slider-nav .slick-slide.slick-current.thumbnail-image .thumbImg {
    border: 2px solid #196DB6;
}
.slider-nav .slick-slide.slick-current span {
    color: #196DB6;
}
.slider-nav .slick-slide {
    text-align: center;
}
.slider-nav .slick-slide span {
    font-size: 14px;
    display: block;
    padding: 5px 0 15px;
}
.slick-arrow {
    width: 100%;
    background-color: transparent;
    border: 0;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    height: 18px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
}
.slick-prev {
    top: 0;
}
.slick-next {
    bottom: 0;
    background-color: #fff;
}
.slick-prev.slick-arrow {
    background-image: url(../images/black-up-arrow.png);
}
.slick-next.slick-arrow {
    background-image: url(../images/black-down-arrow.png);
}
/*End USE CSS for Slider*/

@media screen and (max-width : 991px) {

    .banner-slider .slider.slider-for,
    .banner-slider .slider.slider-nav {
        max-width: 100%;
        float: none;
    }
    .banner-slider .slider.slider-for {
        padding-right: 0;
    }
    .banner-slider .slider.slider-nav {
        height: auto;
    }
    .slider-banner-image {
        height: 500px;
    }
    .slider.slider-nav.thumb-image {
        padding: 10px 30px 0;
    }
    .slider-nav .slick-slide span {
        padding: 5px 0;
    }
    .slick-arrow {
        padding: 0;
        width: 30px;
        height: 30px;
        top: 50%;
        bottom: 0;
        -webkit-transform: translateY(-50%) rotate(-90deg);
        -moz-transform: translateY(-50%) rotate(-90deg);
        -ms-transform: translateY(-50%) rotate(-90deg);
        transform: translateY(-50%) rotate(-90deg);
    }
    .slick-prev {
        left: 0;
        right: unset;
    }
    .slick-next {
        left: unset;
        right: 0;
        background-color: transparent;
    }
    .vehicle-detail-banner .car-slider-desc {
        max-width: 340px;
    }
    .bid-tag {
        padding: 10px 0 15px;
    }
    .slider.slider-nav.thumb-image {
        white-space: nowrap;
    }
    .thumbnail-image.slick-slide {
        padding: 0px 5px;
        min-width: 75px;
        display: inline-block;
        float: none;
    }
}

@media screen and (max-width : 767px) {
    .slider-banner-image {
        height: 400px;
    }
    .slider.slider-nav.thumb-image {
        padding: 0px 20px 0;
        margin: 10px 0px 0;
    }
    .slider-nav .slick-slide.thumbnail-image .thumbImg {
        max-width: 140px;
        height: 80px;
    }
    .slick-prev.slick-arrow {
        background-position: center 10px;
    }
    .slick-next.slick-arrow {
        background-position: center 10px, center;
    }
    .slider-nav .slick-slide span {
        font-size: 12px;
        white-space: normal;
    }

    .slider-image-height{
        height:unset !important;
    }
}

@media screen and (max-width: 580px) {
    .slider-banner-image {
        height:340px;
    }
    .slider-image-height{
        height:unset !important;
    }
}

@media screen and (max-width : 480px) {
    .slider-banner-image {
        height:280px;
    }
    .slider-image-height{
        height:unset !important;
    }
}

.video-thum{
    position:relative;
}
.play-image{
    position:absolute;
    width: 25px;
    top: 30%;
    left: 30%;
    background-color: #8b8b8b;
}
.slider-image-height{
    height: 394px;
}
.icon-vart{
    vertical-align:-4px !important;
}
.slider-cus-css .slider-banner-image{
    width:unset !important;
    margin-top:25px;
}
.des .nav-link{
    padding-left: 0px !important;
    font-size:15px !important;
}
.feed-text{
    font-size: 12px;
    margin-top: 10px;
}
.about-title{
    font-size: 16px;
    font-weight: 500;
}
.about-sub-title{
    font-size: 15px !important;
}

.footer-bottom{
    background-color:#231f20;
    border: none;
    color: #ffffff !important;
    padding: 5px 40px;
    /*border-radius: 5px;*/
}
.top-div{
    background-color:#595657;
    padding: 15px;
}
.free-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

}
.free-text-2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top:5px;
}
.icon-top-det{
    margin-top:-8px;
}
.td-pd{
    padding:10px;
    font-size: 13px;
}
.tit-op{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2E2E2E;
}
.qty-tab{
    width:40%;
    float: left;
}
.price-tab-d{
    width:60%;
    float: left;
    text-align: right;
}
.item_count{
    height:40px;
}
.btn-q{
    border: 1px solid #ced4da;
}
.btn-see{
    margin-left: 7px;
}
.pd-new{
    padding: 4px 7px;
}
.capQty{
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index:1200;
}
.toggle-body{
    background-color: #ffffff;
}
.mid-filed{
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
.h-120{
    min-height:85px;
}
.ft-price{
    color:#fa2c2c;
}
.ft-count{
    float: right;
}
.pro-img-ft{
    width:65px;
    height:65px;
}
.pro-item{
    width: 10%;
    float:none;
}
.navbar-ft{
    overflow-y: hidden;
}
.scroll-ft{
    display: -webkit-box; width: 100%;
}
.mess-alert{
    color:red;
}
.thumb-image .slick-current{
    width: 68px !important;
    border: 1px solid #cacaca !important;
}
.pd-te-ch{
    padding-top:24px;
    padding-bottom: 24px;
}
.check-btn-custom{
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    padding: 12px;
    text-align: center;
}
.title-checkout label{
    text-align:left !important;
}
.text-label{
    margin-left: 10px;
}
.check-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #231F20;
    margin-bottom: 30px;
}
.checkout-items{
    border: 1px solid #757575;
    padding:10px;
}
.pro-bg-check{
    background-color: #F1F0F5;
    border-radius: 5px;
}
.group-check{
    border: 1px solid #757575 !important;
    padding:10px;
}
.name-ch{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #231F20;
}
.table-ship-add{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-transform: capitalize;
    color: #231F20;
}

input[type='radio']:checked{
    background-color: #000000 !important;
    border: unset;
}
.payment-method svg{
    margin-top: -6px;
}
.remove_wishlist_btn{
    position: absolute;
    right: 0px;
}
.pro-t{
    font-size: 18px;
}
 .special-tab .nav-link.active{
    background-color:#000000 !important;
    color: #ffffff !important;
}
 .brand-img{
     width:134px;
     height:80px;
 }